
<div style="background-image: url('/assets/images/wat.jpg');
height: 100%; 
height: 500px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
<h1 style="COLOR: white;
font-family: fantasy; 
padding: 175px 150px;
font-size: 70px;
">IT IS <span style="color:red">TIME</span> TO MAKE <br />YOUR CHOICE</h1>
</div>


<div class="jumbotron" style="background:#f0f0f0">
    <div class="container">
      <h1>Hello, Friend!</h1>
      <p style="color:#a37e2c">Explore the men's watch collection of prestigious, high precision timepieces. We offer a wide 
        assortment of classic and Professional watch models for men to suit any wrist. 
        Discover the broad selection of watches for men: a perfect combination of style and functionality.</p>
      <p><a class="btn btn-primary btn-lg" href="/products" style="background:black" role="button">Learn more &raquo;</a></p>
    </div>
  </div>


<div class="container">
<div class="row" style="margin: 45px 0px;">
    <a href="/categ/classic">
  <div class="col-md-6 hvr-float-shadow" style="border: 1px solid #999292;border-radius: 15px; width: 48%; margin-right: 15px;">
      <img src='assets/images/mwat.jpg' style="height:280px"  
      onerror="this.src='assets/images/soon.png';">
      <div class="row" style="background:#f0f0f0;padding: 15px 5px;
      margin-left: -14px;">
        <div class="col-sm-7"> <h5>Get to know about classic wathces</h5></div>
        <div class="col-sm-2"> <a href="/categ/classic" class="btn btn-info">Go to classic wathces</a></div>
      </div>
      <div style="text-align:center">
        <h5 style="padding: 0px 35px;">While watches have many uses, in essence, the traditional timepiece was used to 
          track time and ensure the wearer was abiding to an accurate schedule. Today, watches are used for
           a variety of tasks, from acting as a fashionable accessory to measuring distance or even oxygen intake.
        </h5>
      </div>
  </div>
</a>
<a href="/categ/smart" >
  <div class="col-md-6 hvr-float-shadow" style="border: 1px solid #999292;border-radius: 15px;  width: 48%; ">
      <img src='assets/images/swat.jpg' style="height:280px"  
      onerror="this.src='assets/images/soon.png';">
      <div class="row" style="background:#f0f0f0;padding: 15px 5px;
      margin-left: -14px;">
        <div class="col-sm-7"> <h5>Get to know about smart wathces</h5></div>
        <div class="col-sm-2"> <a href="/categ/smart" class="btn btn-info" >Go to smart wathces</a></div>
      </div>
      <div style="text-align:center">
          <h5 style="padding: 0px 35px;">A smartwatch is a wearable computing device that closely resembles a 
            wristwatch or other time-keeping device. In addition to telling time, many smartwatches are Bluetooth-capable. 
            The watch becomes, in effect, a wireless
             Bluetooth adaptor capable of extending the capabilities of smartphone .
          </h5>
        </div>
  </div>
</a>
</div>

</div>






